@font-face {
    font-family: "old-west";
    src: url("/src/fonts/CarnivaleeFreakshow.woff") format("woff"),
    url("/src/fonts/CarnivaleeFreakshow.woff2") format("woff2");;
}
:root {
    /* --blue: #1e90ff;
    --white: #ffffff; */
    --shadow-weight: 5px 5px 5px 5px ;
    --shadow-color: rgb(24, 23, 23);
    
  }
* {
    font-family: "old-west";
}
button {
    width: 200px;
    height: 100px;
    font-size: 2rem;
}
body{
    padding: 0;
    margin: 0;
    background-image: url("/src//img/oldscroll.jpg");
}
.header > div {
    font-size: 2.3rem;

}
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(10,minmax(80px,1fr));
    align-items: center;
    justify-content: center;
}


#family-photo,.chef-food{
    height: 50%;
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--shadow-weight) var(--shadow-color);

}
.name-logo {
    grid-row: 1;
    grid-column: 5/9;
    font-size: 4rem;
}
.home {
    grid-row: 2;
    grid-column: 4;
}
.menu {
    grid-row: 2;
    grid-column: 6;
    border: 1px black solid;
}

.contact {
    grid-row: 2;
    grid-column: 8;
}
.location {
    font-size: 1.2rem;
}
.bullet {
    width: 70px;
}
.title {
    font-size: 3rem;  
}
.info {
    display: grid;
    grid-template-rows: 1fr 1fr 100px ;
    grid-template-columns: repeat(10,minmax(80px,1fr));
    align-items: center;
    justify-content: center;
}
.chef-special,.the-family {
    grid-row: 1;
    grid-column: 4/9;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 20px;
}
.the-family {
    grid-row: 2;
}


